<li id="thread-<%= id %>">
  <a href="/messages/<%= id %>" data-route>
    <% if (unread_count > 0) { %>
    <span class="unread_count"><%= unread_count %></span>
    <% } %>
    <img src="<%= avatar %>">
    <h3><%= subject %></h3>
    <time datetime="<%= created_at %>"><%= time_ago %></time>
  </a>
</li>