<li id="thread-<%= id %>">
  <a href="/messages/<%= id %>" data-route>
    <img src="<%= avatar %>">
    <h3><%= subject %></h3>
    <time datetime="<%= created_at %>"><%= time_ago %></time>
  </a>
</li>