<li id="message-<%= id %>"<%= (unread == true) ? ' class="unread"' : '' %>>
  <time datetime="<%= created_at %>"><%= time_ago %></time>
  <a href="/users/<%= id %>">
    <img src="<%= avatar %>">
    <span><%= name %></span>
  </a>
  <p><%= nl2br(body) %></p>
</li>