<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Beebs</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <div class="inner">
    <% if user_signed_in? %>
      <%= image_tag gravatar_url(current_user.email ) %> Oh hai
    <% end %>
  </div>
</div>
<div class="inner">
  <div id="content">
    <%= yield %>
  </div>
</div>
<%= javascript_include_tag "application" %>
</body>
</html>
