<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BBMS</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <div class="inner">
    <h1>BBMS</h1>
    <% if user_signed_in? %>
      <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>
      <%= image_tag image_path(current_user.avatar ) %> Oh hai <%= current_user.name %>
    <% end %>
  </div>
</div>
<div class="inner">
  <div id="content">
    <%= yield %>
  </div>
</div>
<%= javascript_include_tag "application" %>
</body>
</html>
